<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Online Exam</title>
</head>
<body>
  <h1>Online Exam</h1>
 <form method="POST">
  {% for i, question in indexed_questions %}
    <fieldset>
      <legend>{{ question.question }}</legend>
      {% for option in question.options %}
        <label>
          <input
            type="radio"
            name="question_{{ i }}"
            value="{{ option }}"
            required
          />
          {{ option }}
        </label><br />
      {% endfor %}
    </fieldset>
  {% endfor %}
  <button type="submit">Submit</button>
</form>

</body>
</html>
